
<h1>Online Store Application</h1>

<!-- needs to be search, list, and shopping cart selection. -->

<div class="row spacing">
<div class="cart">
    <div class="card" style="width: 18rem;">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">Shopping Cart</h5>
          <p class="card-text">This will be the shopping cart.</p>
          <!-- <div *ngFor="item of items"></div> -->
          <a href="#" class="btn btn-primary">CheckOut</a>
        </div>
    </div>
</div>
<div class="items">
    <div class="card items" style="width: 35rem;">
        <div class="card-header">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                  <i class="fas fa-search"></i>
                </span>
            </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Products</h5>
          <div *ngFor="let product of products">
            <div class="product-box">
            <div class="col details">
            <h6>{{ product.size }} {{ product.name }} <span class="category"> - {{product.brand }} </span></h6>
            <td class="price"><span class="price-label"> Price: </span> ${{ product.price }}</td>
            <div class="space_empty"></div>
            <!-- <h6>{{ product.name }} <span class="category"> {{product.category }} - {{product.type}} </span></h6> -->
            <span class="desc">Product Description: {{ product.description }}</span>
            
            </div>
            <div class="price-right">
                <div class="row button_add">  
                    <button class=" btn add"> Add To Cart + </button>
                </div>
            </div>
            </div>
        </div>          
        </div>
    </div>
</div>
</div>
