
<br>
<h1 class="page-title" style="display: flex;">Online Store Application   <h1 style="margin-left: 35rem; display: flex;">Balance: <p style="margin-left: 1rem;" class="price">${{this.customerBalance}}</p> </h1>
<button (click)="editAddressButton()" class="btn" style="margin-left: 10rem; background-color: rgb(133, 249, 133); width: auto; height: 4rem; font-size: medium;">Edit User</button></h1>
<br>

<!-- needs to be search, list, and shopping cart selection. -->

<div class="spacing">
<div class="cart">
    <div class="card" style="width:25rem;">
        <div class="card-header">          
            <h5 class="card-title">Shopping Cart</h5>
            <h6>Cart Total: <span class="price" > ${{cartTotal}} </span></h6>
        </div>
        <div class="card-body">
          <div *ngFor="let item of shoppingCart">
            <div class="product-box">
                <div class="col details">
                <h6>{{ item.size }} {{ item.tile }} <span class="category"> - {{item.brand }} </span></h6>
                <td class="price"><span class="price-label"> Price: </span> ${{ item.price }}</td>
                <div class="space_empty"></div>                
                </div>
                <div class="price-right">
                    <div class="row button_add">  
                        <button (click)="RemoveFromCart(item)" class=" btn remove"> Remove Item </button>
                    </div>
                    <span class="price-label">Quantity: <span class="quantity">{{item.quantity}}</span></span>
                </div>
            </div>
            <br>
            </div>
            <div *ngIf="shoppingCart.length != 0; else elseBlock">
                <h2 style="font-size: medium;">Choose your shipment plan:</h2>
                <div style="display: flex;">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="color" id="colorRed" value="standard" [(ngModel)]="deliveryType">
                  <label class="form-check-label" for="colorRed">
                    Standard
                  </label>
                </div>
                <div style="margin-left: 1rem;" class="form-check">
                  <input class="form-check-input" type="radio" name="color" id="colorBlue" value="express" [(ngModel)]="deliveryType">
                  <label class="form-check-label" for="colorBlue">
                    Express
                  </label>
                </div>
                </div>
                <br>
                <h2 style="font-size: medium;">Choose Credit Card:</h2>
                <div *ngIf="cards_and_address.length != 0; else elseBlock4">
                    <div *ngFor="let card of cards_and_address">
                        <div class="product-box" style=" text-align: center; height: 5rem;">
                            <div class="orderID" style="font-size: small; display: flex; position: absolute; margin-left: 1rem;">
                                Card Number: <p class="price-label" style="font-size: small; margin-left: .5rem;"> {{card.cardNumber}} </p>
                            </div>
                            <br>
                            <br>
                            <div class="orderID" style="font-size: small; margin-top: 2rem;display: flex; text-align: center; margin-left: 1rem; position: absolute;">
                                Payment Address: <p class="price-label" style="font-size: small; margin-left: .5rem;"> {{card.cardAddress}} </p>
                            </div>
                            <br>
                            <br>
                            <div style="position: absolute; margin-left: 20rem; margin-top: 1rem; display: flex; align-items: center; align-content: center;">
                                <input class="form-check-input" type="radio" name="card" id="card" value='{{card.cardNumber}}' [(ngModel)]="cardSelection">
                            </div>
                        </div>
                        <br>
                        </div>
                </div>
                <ng-template #elseBlock4> Add a card to complete order... </ng-template>

                <a *ngIf="cards.length != 0" (click)="orderButton()" class="btn checkout btn-primary" style="margin-top: 2rem; font-size: medium; margin-left: 8rem;">Check Out</a>
            <div>                 
            </div>
            
            </div>
            <ng-template #elseBlock> 
                <p>No Items In Shopping Cart....</p>
            </ng-template>
        </div>
        </div>
</div>

<div class="orders">
    <div class="card" style="width:25rem;">
        <div class="card-header">          
            <h5 class="card-title">Orders</h5>
        </div>
        <div class="card-body">
        <div *ngIf="orders_list.length != 0; else elseBlock3" >
          <div *ngFor="let order of orders_list">
            <div class="product-box">
                <div class="col details">
                <h6 class="orderID">Order ID: {{ order.orderID }} <span class="orderID" style="margin-left: 4rem;"> Status: {{order.status }}</span></h6>
                <span class="order-label"> Delivery Type: {{ order.deliveryType }} </span> 
                <span class="order-label" style="display: flex;"> Order Total:   <p class="price" style="margin-left: .5rem;">  ${{ order.deliveryPrice }}</p></span> 
                <span *ngIf="order.deliveryDate != null" style="margin-top: -2rem;" class="order-label"> Delivery Date: {{ order.deliveryDate }} </span> 
                <span *ngIf="order.deliveryDate == null" class="order-label"> Delivery Date: still pending... </span> 
                <br>
                <span *ngIf="order.shipDate != null" class="order-label"> Ship Date: {{ order.shipDate }} </span> 
                <span *ngIf="order.shipDate == null" class="order-label"> Ship Date: not yet shipped... </span> 
                <br>
                <br>
                <span class="orderID" style="font-size: medium;"> Products Ordered:</span>
                <div *ngFor="let product of order.orderItems" style="margin-left: 1rem;"> 
                    <span class="order-label"> {{ product.title }} x {{ product.quantity }}</span> 
                </div>
                <div class="space_empty"></div>                
                </div>
            </div>
            <br>
            </div>
        </div>
            <ng-template #elseBlock3> 
                <p>No current orders....</p>
            </ng-template>
        </div>
        </div>
</div>

<div class="items">
    <div class="card items" style="width: 35rem;">
        <div class="card-header">
            <h5>Product Catalog</h5>
            <div class="input-group rounded">
                <input (input)="filterProducts()" type="search" [(ngModel)]="searchTerm" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            </div>
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">Products</h5> -->
          <div *ngFor="let c of categories">
            <h5 *ngIf="isCategoryValid(c)">{{c.category}}</h5>
            <div *ngIf="isCategoryValid(c)" class="separate"></div>
            <div *ngFor="let t of c.types">
                <br>
                <h6 *ngIf="isCategoryValid(c) && isTypeValid(t)">{{t}}</h6>
                <div *ngFor="let product of filteredProducts">
                    <div *ngIf="product.category == c.category && product.type == t">
                    <div class="product-box">
                    <div class="col details">
                    <h6>{{ product.name }} <span class="category"> - {{product.brand }} </span></h6>
                    <td class="price"><span class="price-label"> Price: </span> ${{ product.price }}</td>
                    <td class="price-label">Size: {{ product.size }}</td>
                    <br>
                    <div class="space_empty"></div>
                    <!-- <h6>{{ product.name }} <span class="category"> {{product.category }} - {{product.type}} </span></h6> -->
                    <span class="desc">Product Description: {{ product.description }}</span>
                    
                    </div>
                    <div class="price-right">
                        <div class="row button_add">  
                            <button (click)="AddToCart(product)" class=" btn add"> Add To Cart + </button>
                        </div>
                    </div>
                    </div>
                    <br>
                    </div>
                </div> 
            </div>
        </div>         
        </div>
    </div>
</div>

<div class="credit">
    <div class="card" style="width:20rem;">
        <div class="card-header">          
            <h5 class="card-title">Payment</h5>
        </div>
        <div class="card-body">
        <div *ngIf="cards_and_address.length != 0; else elseBlock2" >
          <div *ngFor="let card of cards_and_address">
            <div class="product-box" style=" text-align: center; height: 9rem;">
                <div class="orderID" style="font-size: small; display: flex; position: absolute; margin-left: 1rem;">
                    Card Number: <p class="price-label" style="font-size: small; margin-left: .5rem;"> {{card.cardNumber}} </p>
                </div>
                <br>
                <br>
                <div class="orderID" style="font-size: small; margin-top: 2rem;display: flex; text-align: center; margin-left: 1rem; position: absolute;">
                    Payment Address: <p class="price-label" style="font-size: small; margin-left: .5rem;"> {{card.cardAddress}} </p>
                </div>
                <br>
                <br>
                <div style="position: absolute; margin-left: 5rem; margin-top: 5rem; display: flex; align-items: center; align-content: center;">
                <button class="btn" (click)="editCardButton(card)" style="width: auto; background-color: rgb(243, 164, 243); font-size: smaller; color: whitesmoke">Edit</button>
                <button class="btn" (click)="deleteCard(card.cardNumber, card.cardAddressID)" style="margin-left: 1rem; width: auto; background-color: rgb(255, 119, 119); font-size: smaller; color: whitesmoke">Delete</button>
                </div>
            </div>
            <br>
            </div>
        </div>
            <ng-template #elseBlock2> 
                <p>No cards.....</p>
            </ng-template>
        </div>
        <br> 
        <p class="orderID" style="margin-left: 5rem;">Add Credit Card</p>
        <form (ngSubmit)="submitForm()">
            <div style="margin-left: 2rem;" class="mb-3">
              <label  style="font-size: small;" for="cardnumber" class="form-label">Card Number: </label>
              <input
                type="input"
                id="cardnumber"
                class="form-control"
                [(ngModel)]="cardForm.cardnumber"
                name="cardnumber"
                required
              />
            </div>
            <div style="margin-left: 2rem;" class="mb-3">
              <label for="cardaddress" style="font-size: small;" class="form-label">Card Address</label>
              <input
                type="input"
                id="cardaddress"
                class="form-control"
                [(ngModel)]="cardForm.cardAddress"
                name="cardaddress"
                required
              />
            </div>
            <button type="submit" class=" btn addcard"> Add Credit Card</button>
          </form>
        </div>
</div>

<div *ngIf="editCard">
    <div class="editcard">
        <div class="card" style="margin-top: 2rem;  width:20rem; margin-left: 45rem; position: absolute; box-shadow: 0px 0px 2000px 2000px rgba(0, 0, 0, 0.544);">
            <div class="card-header" style="display: flex;">          
                <h5 class="card-title">Edit Card Address</h5>
                <button (click)="closeEdit()" style="z-index: 4;  color: whitesmoke; background-color: rgb(255, 110, 110); width: auto; text-align: center; margin-left: 10rem">X</button>
            </div>
            <br> 
            <form (ngSubmit)="saveChanges()">
                <div style="margin-left: 2rem;" class="mb-3">
                  <label for="cardAddress" style="font-size: small;" class="form-label">Card Address</label>
                  <input
                    type="input"
                    id="cardAddress"
                    class="form-control"
                    [(ngModel)]="editForm.cardAddress"
                    name="cardAddress"
                    required
                  />
                </div>
                <button type="submit" class=" btn addcard"> Save Changes </button>
              </form>
            </div>
    </div>



</div>

<div *ngIf="editAddress">
    <div class="editcard2">
        <div class="card" style="margin-top: 2rem;  width:20rem; margin-left: 45rem; position: absolute; box-shadow: 0px 0px 2000px 2000px rgba(0, 0, 0, 0.544);">
            <div class="card-header" style="display: flex;">          
                <h5 class="card-title">Edit Users Address</h5>
                <button (click)="closeEdit()" style="z-index: 4;  color: whitesmoke; background-color: rgb(255, 110, 110); width: auto; text-align: center; margin-left: 10rem">X</button>
            </div>
            <br> 
            <form (ngSubmit)="changeAddress()">
                <div style="margin-left: 2rem;" class="mb-3">
                  <label for="cardAddress" style="font-size: small;" class="form-label">Delivery Address</label>
                  <input
                    type="input"
                    id="cardAddress"
                    class="form-control"
                    [(ngModel)]="UserAddress.deliveryAddress"
                    name="cardAddress"
                    required
                  />
                </div>
                <button type="submit" class=" btn addcard"> Save Changes </button>
              </form>
            </div>
    </div>



</div>





</div>